.skeleton {
  width: 100%;
  background-color: #303030;
  border-radius: 8px;
  height: 1.2rem;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
